NPM_AUTH= #NPM Auth Token
WHC_DEVICE= #Name of device
WHC_PROFILE= #home, work, remote; remote shows WHC_DEVICE in a red prompt prefix

# Handy for docker
PUID=1000
PGID=1000
TZ= # TZ database name
WHC_TLD= # The top level domain used by nginx (`.local`, `.fyi`, etc). SLD is assumed to be `whc`
