[user]
	email = willow@whc.fyi
	name = Willow Hayward
	username = WillowHayward
[core]
	editor = nvim
    excludesfile = ~/dotfiles/.gitignore.global
[alias]
    s = status
    c = commit
    ca = commit --all
    d = diff
[init]
	defaultBranch = main
