[user]
	email = willow@whc.fyi
	name = Willow Hayward
	username = WillowHayward
[core]
	editor = nvim
    excludesfile = ~/dotfiles/.gitignore.global
    pager = diff-so-fancy | less --tabs=4 -RF
[push]
    followTags = true
[alias]
    s = status
    c = commit
    ca = commit --all
    d = diff
[init]
	defaultBranch = main
[interactive]
    diffFilter = diff-so-fancy --patch
