init.author.name=Willow Hayward
init.author.email=WillHayCode@gmail.com
init.author.url=https://WillHayCode.com
init.license=MIT
init.version=0.0.1
loglevel=http
//registry.npmjs.org/:_authToken=${NPM_AUTH}
