[Unit]
Description=Automatic mounting of removable storage

[Service]
Type=simple
ExecStart=/usr/bin/udiskie --automount --notify --no-tray
Restart=on-failure
RestartSec=5
